<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>PreTria {% block title %}{% endblock title %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'dashboard/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendor/quill/quill.snow.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendor/quill/quill.bubble.css'%}" rel="stylesheet">
    <link href="{% static 'dashboard/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/vendor/simple-datatables/style.css' %}" rel="stylesheet">
	
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    

    <!-- Template Main CSS File -->
    <link href="{% static 'dashboard/css/triage_style.css' %}" rel="stylesheet">


    <!--Stylesheet for leafletjs-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />


    <!-- Own stylesheets-->
    <link href="{% static 'css/images.css' %}" rel="stylesheet">

    <script src="https://cdn.tiny.cloud/1/l1pz8u8aljl0fdzkb4xxqtbnclu0po0sqsapa6yijzuideur/tinymce/6/tinymce.min.js"
      referrerpolicy="origin"></script>

    <!--Script for leafletjs-->
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
    <script src="https://unpkg.com/piesocket-js@3"></script>
    

    <!-- =======================================================
  * Template Name: NiceAdmin - v2.2.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

    {% block head %}

    {% endblock head %}
  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

      <div class="d-flex align-items-center justify-content-between container">
        <a href="/" class="logo d-flex align-items-center">
          <img src="{% static 'react-images/logo.png' %}" alt="">
          <span class="d-none d-lg-block">PreTria</span>
        </a>
       
      </div><!-- End Logo -->

    </header><!-- End Header -->


    <main id="main" class="main">

      {% block alert %}

      {% endblock alert %}



      {% block main %}


      {% endblock main %}

    </main><!-- End #main -->


  </body>

</html>
